extends ../layout
include ../mixins/mixins

block content
    main.main-wrapper.main-wrapper--for-kids
        .top-block.p-0
            .breadcrumbs
                .container
                    .breadcrumbs__inner
                        a(href="#").breadcrumbs__item Главная
                        a(href="#").breadcrumbs__item Залы филармонии
                        .breadcrumbs__item Хлебные крошки
        section.main-img
            +picture('for-kids', 'png')
        section.kids-text
            .container
                .kids-text__left Филармония — лучшее место, чтобы воспитать любовь к музыке у малышей. Ведь поход на музыкальный спекталь — это целый праздник и радостные эмоции. А получить яркую семейную фотографию с артистами спектакля — воспоминания, которые насегда останутся в семейном альбоме. Неожиданно, но иногда мамы, папы, дедушки и бабушки радуются представлению не меньше малыша, которого к нам привели. Не зря говорят, что в каждом взрослом живет ребенок.
                .kids-text__right Мы всегда ждем маленьких и больших зрителей на спекталях и в музее филармонии. Приходите к нам всей семьей или группой: из детского сада, образовательной или музыкальной школы. Вы можете побывать просто на экскурсии или спектакле или устроить «большой поход» — посетить сразу музей и музыкальное представление. Для больших групп от 20 человек можем подготовить индивидуальную программу.
        section.kids-circles
            .common-circle.kids-circles__circle.kids-circles__circle-1
                .bg-wrapper
                    +picture('kids-circle1', 'png')
            .common-circle.kids-circles__circle.kids-circles__circle-2
                .bg-wrapper
                    +picture('kids-circle2', 'png')
                .common-circle__content
                    .common-circle__text-1 Обязательно включите<br>посещение филармонии в вашу прогулку по Кисловодску.
                    .common-circle__text-2 Ждем вас в гостях,<br>будет интересно!
            .common-circle.kids-circles__circle.kids-circles__circle-3
                .bg-wrapper
                    +picture('kids-circle3', 'png')
        section.events-block
            .bg-wrapper.bg-wrapper--no-of
                +picture('gradient-bg', 'png', '1300', '1400')
            .container
                h3.h3-common.text-left.events-block__title Ближайшие события,<br> которые понравятся детям #[span.num (8)]
                .events-horizontal
                    a(href="#").events-item.events-item--horizontal
                        .events-item__left
                            .events-item__textdate Сегодня / Завтра
                            .events-item__inner
                                .events-item__date 13
                                .events-item__day февраля / Сб
                                .events-item__time 19:00
                            .events-item__additional-dates #[b Все даты:] 5, 8, 10 февраля, 15&nbsp;марта
                        .events-item__middle
                            .labels
                                .labels__label-top
                                    .labels__label-premier Премьера
                                .labels__label-bottom
                                    .labels__circle-label.labels__label-single
                                        +picture('label-single', 'png', '74', '75')
                                    .labels__circle-label.labels__label-kids
                                        +picture('label-kids', 'png', '74', '75')
                            .events-item__img
                                +picture('events1', 'png', '370', '270')
                        .events-item__bottom
                            .events-item__bottom-left
                                .events-item__title Фантазии барокко верните музыку
                                .events-item__description Полная красочности, фантазий и лирического чувства музыка Арно Бабаджаняна
                                .events-item__bottom-left-wrapper
                                    .events-item__inner-box
                                        .events-item__city Кисловодск #[span |]
                                        .events-item__hall Зал им. В.И. Сафонова
                                    .events-item__bottom-box
                                        .events-item__price 200–300 ₽
                            .events-item__bottom-right
                                .events-item__inner
                                    .events-item__type Вечер органной музыки
                                    .events-item__duration 1 час 20 минут
                                .common-btn.common-btn--blue Билеты
                    a(href="#").events-item.events-item--horizontal
                        .events-item__left
                            .events-item__textdate Сегодня / Завтра
                            .events-item__inner
                                .events-item__date 13
                                .events-item__day февраля / Сб
                                .events-item__time 19:00
                            .events-item__additional-dates #[b Все даты:] 5, 8, 10 февраля, 15&nbsp;марта
                        .events-item__middle
                            .labels
                                .labels__label-bottom
                                    .labels__circle-label.labels__label-kids
                                        +picture('label-kids', 'png', '74', '75')
                            .events-item__img
                                +picture('events2', 'png', '370', '270')
                        .events-item__bottom
                            .events-item__bottom-left
                                .events-item__title Фантазии барокко верните музыку
                                .events-item__description Полная красочности, фантазий и лирического чувства музыка Арно Бабаджаняна
                                .events-item__bottom-left-wrapper
                                    .events-item__inner-box
                                        .events-item__city Кисловодск #[span |]
                                        .events-item__hall Зал им. В.И. Сафонова
                                    .events-item__bottom-box
                                        .events-item__price 200–300 ₽
                            .events-item__bottom-right
                                .events-item__inner
                                    .events-item__type Вечер органной музыки
                                    .events-item__duration 1 час 20 минут
                                .common-btn.common-btn--blue Билеты
                .show-more
                    .show-more__inner
                        .show-more__round-text#js-show-more-circle Показать больше
                        .show-more__icon
                            +icon('pretty-arrow')
        section.person
            .container
                .person__left
                    h3.h3-common.person__title.text-left Увлекательные экскурсии
                    .person__text
                        p В нашем музее работает лучший друг детей — экскурсовод Петр Петрович. Поэтому от нас никто не хочет уходить,
                        p Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                    a(href="#").common-btn.common-btn--yellow О музее
                .person__img
                    +picture('person-man', 'png')
                .person__right
                    .person__name Александр Константинович
                    .person__job лучший экскурсовод<br>Государственной Филармонии
        section.quote.quote--bg
            .container
                h3.h3-common.quote__title Почему музыка важна<br>для развития ребенка?
                .quote__box
                    +icon('quote')
                    .quote__text Музыка является самым чудодейственным, самым тонким средством привлечения к добру, красоте, человечности.<br>Чувство красоты музыкальной мелодии открывает перед ребенком собственную красоту
                    .quote__author В. А. Сухомлинский
        section.news-block
            .container
                .news
                    .row
                        .col-3
                            a(href="#").news__item
                                .bg-wrapper
                                    +picture('news1', 'png', '370', '300')
                                .news__title Абонементы сезона зима-весна уже в продаже!
                                .news__date 11.05.2020

                        .col-3
                            a(href="#").news__item
                                .bg-wrapper
                                    +picture('news1', 'png', '370', '300')
                                .news__title Абонементы сезона зима-весна уже в продаже!
                                .news__date 11.05.2020

                        .col-3
                            a(href="#").news__item
                                .bg-wrapper

                                .news__title Абонементы сезона зима-весна уже в продаже!
                                .news__date 11.05.2020
        section.gallery
            .gallery-slider-wrapper
                .pretty-arrow.pretty-arrow--top.pretty-arrow--prev
                    +icon('pretty-arrow-black')
                .pretty-arrow.pretty-arrow--top.pretty-arrow.pretty-arrow--next
                    +icon('pretty-arrow-black')
                .container
                    h3.h3-common.gallery__title Галерея события
                .gallery-slider.js-gallery-slider
                    .gallery-slider__slide
                        +pictureFancybox('event-gallery1', 'png', '274', '377', 'gallery1')
                    .gallery-slider__slide
                        +pictureFancybox('event-gallery2', 'png', '306', '267', 'gallery1')
                    .gallery-slider__slide.gallery-slider__slide--video
                        .gallery-slider__video
                            +icon('play')
                        .gallery-slider__content
                            .gallery-slider__video-title Видео
                        +videoFancybox('product-card1', 'mp4', 'event-gallery-video', 'png',  '640', '360', '485', '318', 'gallery1')
                    .gallery-slider__slide
                        +pictureFancybox('event-gallery1', 'png', '274', '377', 'gallery1')
                    .gallery-slider__slide
                        +pictureFancybox('event-gallery2', 'png', '306', '267', 'gallery1')
                    .gallery-slider__slide.gallery-slider__slide--video
                        .gallery-slider__video
                            +icon('play')
                        .gallery-slider__content
                            .gallery-slider__video-title Видео
                        +videoFancybox('product-card1', 'mp4', 'event-gallery-video', 'png',  '640', '360', '485', '318', 'gallery1')
        section.events-block.events-block--scroll
            .bg-wrapper.bg-wrapper--no-of
                +picture('gradient-bg', 'png', '1300', '1400')
            .container
                h3.h3-common.events-block__title Детский репертуар филармонии
                .events.events--scroll.events--repertoire.js-swipe-scroll
                    a(href="#").events-item
                        .events-item__top
                            .labels
                                .labels__label-top
                                    .labels__label-premier Премьера
                                .labels__label-bottom
                                    .labels__circle-label.labels__label-single
                                        +picture('label-single', 'png', '74', '75')
                                    .labels__circle-label.labels__label-kids
                                        +picture('label-kids', 'png', '74', '75')
                            .events-item__img
                                +picture('events1', 'png', '370', '270')
                            .events-item__top-content
                                .events-item__inner
                                    .events-item__type Камерная программа / Хор / Оркестр
                                    .events-item__duration 1 час 20 минут
                        .events-item__bottom
                            .events-item__title Фантазии барокко
                            .events-item__description Полная красочности, фантазий и лирического чувства музыка Арно Бабаджаняна
                            .events-item__bottom-box
                                .common-btn.common-btn--arrow
                                    | Подробнее
                                    .common-btn__icon
                                        +icon('pretty-arrow')

                            .events-item__additional-dates Ближайшее событие:  #[b 15 января 19:00]
                    a(href="#").events-item
                        .events-item__top
                            .labels
                                .labels__label-top
                                    .labels__label-premier Премьера
                                .labels__label-bottom
                                    .labels__circle-label.labels__label-single
                                        +picture('label-single', 'png', '74', '75')
                            .events-item__img
                                +picture('events2', 'png', '370', '270')
                            .events-item__top-content
                                .events-item__inner
                                    .events-item__type Вечер органной музыки
                                    .events-item__duration 1 час 20 минут
                        .events-item__bottom
                            .events-item__title Верни мне музыку
                            .events-item__description Полная красочности, фантазий и лирического чувства музыка Арно Бабаджаняна
                            .events-item__bottom-box
                                .common-btn.common-btn--arrow
                                    | Подробнее
                                    .common-btn__icon
                                        +icon('pretty-arrow')
                    a(href="#").events-item
                        .events-item__top
                            .labels
                                .labels__label-top
                                    .labels__label-premier Премьера
                            .events-item__img
                                +picture('events1', 'png', '370', '270')
                            .events-item__top-content
                                .events-item__inner
                                    .events-item__type Вечер вокально-инструментальной музыки
                                    .events-item__duration 1 час 20 минут
                        .events-item__bottom
                            .events-item__title Фантазии барокко
                            .events-item__description Полная красочности, фантазий и лирического чувства музыка Арно Бабаджаняна
                            .events-item__bottom-box
                                .common-btn.common-btn--arrow
                                    | Подробнее
                                    .common-btn__icon
                                        +icon('pretty-arrow')
                    a(href="#").events-item
                        .events-item__top
                            .labels
                                .labels__label-top
                                    .labels__label-premier Премьера
                                .labels__label-bottom
                                    .labels__circle-label.labels__label-single
                                        +picture('label-single', 'png', '74', '75')
                                    .labels__circle-label.labels__label-kids
                                        +picture('label-kids', 'png', '74', '75')
                            .events-item__img
                                +picture('events1', 'png', '370', '270')
                            .events-item__top-content
                                .events-item__inner
                                    .events-item__type Камерная программа / Хор / Оркестр
                                    .events-item__duration 1 час 20 минут
                        .events-item__bottom
                            .events-item__title Фантазии барокко
                            .events-item__description Полная красочности, фантазий и лирического чувства музыка Арно Бабаджаняна
                            .events-item__bottom-box
                                .common-btn.common-btn--arrow
                                    | Подробнее
                                    .common-btn__icon
                                        +icon('pretty-arrow')
                            .events-item__additional-dates Ближайшее событие:  #[b Пока неизвестно]
                    a(href="#").events-item
                        .events-item__top
                            .labels
                                .labels__label-top
                                    .labels__label-premier Премьера
                                .labels__label-bottom
                                    .labels__circle-label.labels__label-single
                                        +picture('label-single', 'png', '74', '75')
                            .events-item__img
                                +picture('events2', 'png', '370', '270')
                            .events-item__top-content
                                .events-item__inner
                                    .events-item__type Вечер органной музыки
                                    .events-item__duration 1 час 20 минут
                        .events-item__bottom
                            .events-item__title Верни мне музыку
                            .events-item__description Полная красочности, фантазий и лирического чувства музыка Арно Бабаджаняна
                            .events-item__bottom-box
                                .common-btn.common-btn--arrow
                                    | Подробнее
                                    .common-btn__icon
                                        +icon('pretty-arrow')
        section.help-block
            .container
                .help-block__top
                    h3.h3-common.help-block__title У вас вопрос<br>или нужна помощь?
                    .help-block__text Обратитесь в кассы филармонии<br>или оставьте заявку на сайте.<br>Мы всегда отвечаем и рады помочь.
                .help-block__bottom
                    .contacts-block.contacts-block--black
                        .contacts-block__item
                            .contacts-block__city Кисловодск
                            a(href="tel:+78793720422").contacts-block__phone 8 (87937) 2-04-22
                        .contacts-block__item
                            .contacts-block__city Пятигорск
                            a(href="tel:+78793720422").contacts-block__phone 8 (87937) 2-04-22
                        .contacts-block__item
                            .contacts-block__city Ессентуки
                            a(href="tel:+78793720422").contacts-block__phone 8 (87934) 6-75-56
                        .contacts-block__item
                            .contacts-block__city Железноводск
                            a(href="tel:+78793720422").contacts-block__phone 8 (87934) 6-75-56
                    a(href="#").common-btn.common-btn--transparent Задать вопрос

