extends ../layout
include ../mixins/mixins

block content
    main.main-wrapper.main-wrapper--pages
        .top-block
            .container
                h1.h1-common Список страниц
        .pages-list
            .bg-wrapper.bg-wrapper--no-of
                +picture('gradient-bg', 'png', '1300', '1400')
            .container
                .page-links
                    a(target="_blank" href="index.html") Главная
                    a(target="_blank" href="404.html") Ошибка 404
                    a(target="_blank" href="afisha.html") Афиша
                    a(target="_blank" href="collective.html") Коллектив
                    a(target="_blank" href="contacts.html") Контакты
                    a(target="_blank" href="event.html") Событие
                    a(target="_blank" href="filarmony.html") Филармония
                    a(target="_blank" href="for-kids.html") Для детей
                    a(target="_blank" href="for-viewers.html") Для зрителей
                    a(target="_blank" href="gallery.html") Галерея
                    a(target="_blank" href="hall-single.html") Страница зала
                    a(target="_blank" href="halls.html") Залы
                    a(target="_blank" href="halls-city.html") Залы города
                    a(target="_blank" href="history.html") История
                    a(target="_blank" href="museum.html") Музей
                    a(target="_blank" href="news.html") Новости
                    a(target="_blank" href="news-single.html") Страница новости
                    a(target="_blank" href="orchestra.html") Оркестр
                    a(target="_blank" href="organ.html") Орган
                    a(target="_blank" href="people.html") Люди
                    a(target="_blank" href="persons.html") Лица
                    a(target="_blank" href="playlists.html") Плейлисты
                    a(target="_blank" href="projects.html") Проекты
                    a(target="_blank" href="project-single.html") Страница проекта
                    a(target="_blank" href="repertoire.html") Репертуар
                    a(target="_blank" href="repertoire-program.html") Программа
                    a(target="_blank" href="soloists.html") Солисты
                    a(target="_blank" href="videogallery.html") Видеогаллерея