extends ../layout
include ../mixins/mixins

block content
    main.main-wrapper.main-wrapper--soloists
        .top-block
            .top-navigation
                .container
                    .top-navigation__inner
                        .top-navigation__main Лица #[span.num (12)]
                        .top-navigation__arrow
                            +icon('pretty-arrow')
                        .top-navigation__items
                            a(href="#").top-navigation__item Солисты филармонии #[span.num (6)]
                            a(href="#").top-navigation__item.current Коллектив и руководители
            .breadcrumbs
                .container
                    .breadcrumbs__inner
                        a(href="#").breadcrumbs__item Главная
                        .breadcrumbs__item Залы филармонии
            .container
                .title-wrapper
                    h1.h1-common Солисты филармонии
        section.other-people.other-people--gray-bg
            .container
                .other-people__items
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist1', 'png')
                        .other-people__item-content
                            .other-people__item-name Наталья Говорская
                            .other-people__item-job Дипломант международного конкурса
                            .other-people__item-voice сопрано
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist2', 'png')
                        .other-people__item-content
                            .other-people__item-name Наталья Говорская
                            .other-people__item-job Дипломант международного конкурса
                            .other-people__item-voice сопрано
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist3', 'png')
                        .other-people__item-content
                            .other-people__item-name Светлана Бережная
                            .other-people__item-job титулярный органист филармонии
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist1', 'png')
                        .other-people__item-content
                            .other-people__item-name Наталья Говорская
                            .other-people__item-job Дипломант международного конкурса
                            .other-people__item-voice сопрано
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist2', 'png')
                        .other-people__item-content
                            .other-people__item-name Наталья Говорская
                            .other-people__item-job Дипломант международного конкурса
                            .other-people__item-voice сопрано
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist3', 'png')
                        .other-people__item-content
                            .other-people__item-name Светлана Бережная
                            .other-people__item-job титулярный органист филармонии
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist1', 'png')
                        .other-people__item-content
                            .other-people__item-name Наталья Говорская
                            .other-people__item-job Дипломант международного конкурса
                            .other-people__item-voice сопрано
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist2', 'png')
                        .other-people__item-content
                            .other-people__item-name Наталья Говорская
                            .other-people__item-job Дипломант международного конкурса
                            .other-people__item-voice сопрано
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января
                    a(href="#").other-people__item
                        .other-people__item-img
                            +picture('soloist3', 'png')
                        .other-people__item-content
                            .other-people__item-name Светлана Бережная
                            .other-people__item-job титулярный органист филармонии
                            .other-people__item-bottom
                                .other-people__item-box
                                    .other-people__item-text-sm Программы:
                                    .other-people__item-text-val 15
                                .other-people__item-box
                                    .other-people__item-text-sm Ближайшее событие:
                                    .other-people__item-text-val 15 января