.main-wrapper--404 {
  .help-block {
    @media (max-width: 991px) {
      padding-top: 90px;
    }
    @media (max-width: 600px) {
      padding-top: 30px;
    }
  }
}

.error {
  position: relative;
  padding: 10px 0 0;
  margin-bottom: 100px;
  @media (max-width: 991px) {
    padding: 40px 0;
    margin-bottom: 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: $white;
    margin-left: 100px;
    top: 50px;
    @media (max-width: 991px) {
      flex-direction: column;
      top: 0;
      margin-left: 0;
    }
  }
  &__num {
    position: absolute;
    top: -40px;
    @include font(272px, 100, 1);
    color: $white;
    opacity: 0.1;
    @media (max-width: 600px) {
      font-size: 150px;
      top: -20px
    }
  }
  &__content {
    z-index: 1;
    padding-bottom: 80px;
    margin-right: 40px;
    @media (max-width: 991px) {
      padding-bottom: 0;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  &__title {
    @include font(30px, 300, 36px, 'secondary');
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__text {
    @include font(14px, 500, 20px);
    margin-bottom: 30px;
  }
  &__links-text {
    @include font(18px, 300, 24px, 'secondary');
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__links-box {
    display: flex;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  .common-btn {
    height: 45px;
  }
  .common-btn--blue {
    width: 245px;
    margin-right: 15px;
    @media (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .common-btn--white {
    width: 210px;
  }
}