.main-wrapper--for-viewers {
  .big-links {
    margin-bottom: 30px;
  }
}

.for-viewers-disclaimer {
  max-width: 810px;
  padding: 90px 15px;
  margin: 0 auto;
  @media (max-width: 600px) {
    padding: 30px 15px;
  }
  &__subtitle {
    @include font(30px, 300, 36px, 'secondary');
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__text {
    p {
      @include font(24px, 300, 36px);
      margin-bottom: 15px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: 600px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
      }
    }
  }
}