.mobile-menu
    .mobile-menu__close-cross.js-close-mobile-menu
        +icon('close')
    .mobile-menu__top
        nav.mobile-menu__main-nav
            a(href="#").mobile-menu__main-nav-item Афиша и билеты
            a(href="#").mobile-menu__main-nav-item Орган
            a(href="#").mobile-menu__main-nav-item Оркестр
            a(href="#").mobile-menu__main-nav-item Музей
            a(href="#").mobile-menu__main-nav-item Детям
            a(href="#").mobile-menu__main-nav-item Контакты
    .mobile-menu__bottom
        nav.mobile-menu__secondary-nav
            .mobile-menu__secondary-nav-col
                a(href="#").mobile-menu__secondary-nav-item Филармония
                a(href="#").mobile-menu__secondary-nav-item Залы
                a(href="#").mobile-menu__secondary-nav-item Репертуар
                a(href="#").mobile-menu__secondary-nav-item Коллективы и&nbsp;солисты
            .mobile-menu__secondary-nav-col
                a(href="#").mobile-menu__secondary-nav-item Галерея
                a(href="#").mobile-menu__secondary-nav-item Проекты
                a(href="#").mobile-menu__secondary-nav-item Новости
                a(href="#").mobile-menu__secondary-nav-item Зрителям
        .contacts-block
            .contacts-block__item
                .contacts-block__city Кисловодск
                a(href="tel:+78793720422").contacts-block__phone 8 (87937) 2-04-22
            .contacts-block__item
                .contacts-block__city Пятигорск
                a(href="tel:+78793720422").contacts-block__phone 8 (87937) 2-04-22
            .contacts-block__item
                .contacts-block__city Ессентуки
                a(href="tel:+78793720422").contacts-block__phone 8 (87934) 6-75-56
            .contacts-block__item
                .contacts-block__city Железноводск
                a(href="tel:+78793720422").contacts-block__phone 8 (87934) 6-75-56
        .socials
            a(href="#").socials__item
                +icon('vk')
            a(href="#").socials__item
                +icon('facebook')
            a(href="#").socials__item
                +icon('odnoklassniki')
            a(href="#").socials__item
                +icon('youtube')
            a(href="#").socials__item
                +icon('instagram')
