.modal.modal--subscribe-complete#modal-subscribe-complete
    .modal__inner
        .modal__close-cross.js-close-modal
            +icon('close')
        .modal__icons
            +icon('note1')
            +icon('note2')
            +icon('note3')
        .modal__title Рады, что вы с нами.
        .modal__text
            p Ждите интересных писем! А мы — ждем вас на музыкальных событиях филармонии.
