.modal.modal--write-us-complete#modal-write-us-complete
    .modal__inner
        .modal__close-cross.js-close-modal
            +icon('close')
        .modal__icons
            +icon('note1')
            +icon('note2')
            +icon('note3')
        .modal__title Сообщение<br>отправлено
        .modal__text
            p Ответим вам по почте или телефону. Обычно мы отвечаем в течение одного–двух рабочих дней.
            p Если вопрос срочный, свяжитесь с нами по телефону — так мы сможем помочь вам быстрее.